In [50]:
import pandas as pd
import time

In [51]:
dataset=r'E:\d1.csv'
chunk_size = 100000

In [52]:
#UC 3: Businesses rated by users with either more than 100 fans or review count more than 500 or compliments more than 1000 and an average score of 4.0 and above.

start_time = time.time()
def complimentsum(row):
    col_sum = row['compliment_hot'] + row['compliment_more'] + row['compliment_profile'] + row['compliment_cute'] + row['compliment_list'] + row['compliment_note'] + row['compliment_plain'] + row['compliment_cool'] + row['compliment_funny'] + row['compliment_writer'] + row['compliment_photos']
    return col_sum

results = []

for chunk in pd.read_csv(dataset, chunksize=chunk_size):
    
    uc3 = chunk[chunk['elite'] != '']
    uc3['total_compliments'] = uc3.apply(complimentsum, axis=1)
    uc3 = uc3[(uc3['fans'] > 100) | (uc3['review_count'] > 500) | (uc3['total_compliments'] > 1000)]
    uc3 = uc3[uc3['average_stars'] > 4.0]
    uc3 = uc3[['business_name', 'review_count', 'categories', 'city', 'state']]
    results.append(uc3)

df_result = pd.concat(results)
end_time = time.time()
total_time= f'{(end_time - start_time):.1f}'
print(f'\n------------>  Time Taken {total_time} seconds\n')
print(df_result)

<ipython-input-52-d62345dfea03>:10: DtypeWarning: Columns (29) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(dataset, chunksize=chunk_size):
<ipython-input-52-d62345dfea03>:10: DtypeWarning: Columns (29) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(dataset, chunksize=chunk_size):
<ipython-input-52-d62345dfea03>:10: DtypeWarning: Columns (29) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(dataset, chunksize=chunk_size):
<ipython-input-52-d62345dfea03>:10: DtypeWarning: Columns (29) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(dataset, chunksize=chunk_size):

------------>  Time Taken 38.5 seconds

                   business_name  review_count  \
989                Brew Brothers          1560
990                Brew Brothers          1560
991                Brew Brothers          1560
992                Brew Brothers          1560
993                Brew Brothers          1560
...                          ...           ...
459519  Broken Beaker Distillery           638
459520  Broken Beaker Distillery           638
459585         African Small Pot          1387
459822          City Center Park          1520
460003              Jimmy John's          1520

                                               categories          city state
989     Bars, Nightlife, American (Traditional), Music...          Reno    NV
990     Bars, Nightlife, American (Traditional), Music...          Reno    NV
991     Bars, Nightlife, American (Traditional), Music...          Reno    NV
992     Bars, Nightlife, American (Traditional), Music...          Reno    NV
993     Bars, Nightlife, American (Traditional), Music...          Reno    NV
...                                                   ...           ...   ...
459519                                 Food, Distilleries  Indianapolis    IN
459520                                 Food, Distilleries  Indianapolis    IN
459585                   Restaurants, Senegalese, African  Philadelphia    PA
459822  Playgrounds, Kids Activities, Active Life, Par...     Greenwood    IN
460003          Delis, Fast Food, Restaurants, Sandwiches  Indianapolis    IN

[13331 rows x 5 columns]

In [53]:
#UC 4: city wise which business has been reviewed stars greater than 4

start_time = time.time()

results = []

for chunk in pd.read_csv(dataset, chunksize=chunk_size):
   
    uc4 = chunk[['business_id','city','categories','name','review_count','stars']]
    uc4 = uc4[uc4['stars'] > 4.0]
    uc4 = uc4[['city', 'name']].drop_duplicates()

    results.append(uc4)

df_result = pd.concat(results)
end_time = time.time()
total_time= f'{(end_time - start_time):.1f}'
print(f'\n------------>  Time Taken {total_time} seconds\n')
print(df_result)

<ipython-input-53-6d54cfd90eec>:7: DtypeWarning: Columns (29) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(dataset, chunksize=chunk_size):
<ipython-input-53-6d54cfd90eec>:7: DtypeWarning: Columns (29) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(dataset, chunksize=chunk_size):
<ipython-input-53-6d54cfd90eec>:7: DtypeWarning: Columns (29) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(dataset, chunksize=chunk_size):
<ipython-input-53-6d54cfd90eec>:7: DtypeWarning: Columns (29) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(dataset, chunksize=chunk_size):

------------>  Time Taken 28.1 seconds

                  city      name
8          New Orleans      Tara
32         New Orleans     Tanim
40         New Orleans       Amy
64         New Orleans     Jessa
136        New Orleans       Jon
...                ...       ...
460368  Tarpon Springs     Monte
460372    Philadelphia       Ron
460398          Carmel         B
460399      St Charles  Jennifer
460401          Gretna     Jerri

[14978 rows x 2 columns]

In [54]:
#UC 5:top 5 Most popular users

start_time = time.time()
chunk_size = 10000
results = []

for chunk in pd.read_csv(dataset, chunksize=chunk_size):
    
    uc5 = chunk.sort_values(by=['fans'], ascending=False)
    uc5=uc5[['user_id', 'name', 'fans', 'review_count']]
    
    results.append(uc5)

df_result = pd.concat(results)
end_time = time.time()
total_time= f'{(end_time - start_time):.1f}'
print(f'\n------------>  Time Taken {total_time} seconds\n')
print(df_result)

------------>  Time Taken 29.6 seconds

                       user_id    name  fans  review_count
0       j14WgRoU_-2ZE1aw1dXrJg  Daniel  3138          4333
5       j14WgRoU_-2ZE1aw1dXrJg  Daniel  3138          4333
7       j14WgRoU_-2ZE1aw1dXrJg  Daniel  3138          4333
6       j14WgRoU_-2ZE1aw1dXrJg  Daniel  3138          4333
1       j14WgRoU_-2ZE1aw1dXrJg  Daniel  3138          4333
...                        ...     ...   ...           ...
460251  lvuVHcKmwr4j1fNu-4LnOw  Alexis     0            73
460252  ogwKLa7jDFe5S9g2mb9nvw  Cheryl     0             2
460253  3gz6SSrqfRD39nIWGuu5hw    Lisa     0            23
460097  qMpajgu0itM-exYmQRgoRQ  Alison     0            50
460000  _WZinviqC5WGupq_YSz10g   Belen     0            15

[460402 rows x 4 columns]

In [55]:
# UC6: which state has more number of opened business

start_time = time.time()

results = []

for chunk in pd.read_csv(dataset, chunksize=chunk_size):
    uc6 = chunk.loc[chunk['state'].str.len() == 2]
    uc6 = uc6.groupby(['state', 'is_open'])
    uc6 = uc6.size().reset_index(name='count')
    uc6 = uc6.loc[uc6['is_open'] == 1]

    results.append(uc6)

df_result = pd.concat(results)
df_grouped = df_result.groupby('state')['count'].sum().reset_index().sort_values('count', ascending=False)
end_time = time.time()
total_time= f'{(end_time - start_time):.1f}'
print(f'\n------------>  Time Taken {total_time} seconds\n')
print(df_grouped)

------------>  Time Taken 26.3 seconds

   state   count
8     LA  112145
12    PA   92719
13    TN   36983
9     MO   35506
7     IN   30688
4     FL   29806
11    NV   24356
1     AZ   17086
2     CA   13909
10    NJ    3325
0     AB    1021
5     ID     897
3     DE     664
6     IL     356

In [57]:
df_result.columns

Index(['state', 'is_open', 'count'], dtype='object')